.ms-8rem {
  margin-left: 8rem;
}
.card-body {
  height: 60%;
}
.Courses_Section {
  display: flex;
  margin: 20px;
}
.Con2Button {
  border: solid 1px black;
  display: inline-block;
  margin-left: 20px;
  height: 30px;
}
.Con2Button_tag {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
